apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: my-blog-image-updater
  namespace: argocd
spec:
  applicationRefs:
    - namePattern: my-blog-app # Matches the ArgoCD Application name
  images:
    - alias: my-blog
      imageName: ghcr.io/chc3954/my-blog-with-rails
      commonUpdateSettings:
        updateStrategy: latest # Updates to the most recent creation date (newest-build)
        allowTags: regexp:^v[0-9]+$ # Only allow tags starting with 'v' followed by numbers
        pullSecret: my-blog/ghcr-secrets # Uses the secret in argocd namespace
        forceUpdate: true # Ensure update even if not currently running (useful for kustomize/helm overrides)
  writeBackConfig:
    method: git # Configures write-back to the Git repository
